<h1>
  {{title}}
</h1>
<app-student-forma (studentSubmit)="obradaStudenta($event)" [student]="studentZaIzmenu"></app-student-forma>
<hr>
<app-pretraga-studenata (pretraga)="pretraziStudente($event)"></app-pretraga-studenata>
<app-tabela-studenata [elementi]="filtriraniStudenti" (uklanjanje)="ukloni($event)" (izmena)="postaviZaIzmenu($event)"></app-tabela-studenata>