<h2>Pretraga studenata</h2>
<form (submit)="pretrazi()" ngNativeValidate>
  <div>
    <label>Broj indeksa: <input name="brojIndeksa" [(ngModel)]="parametri.brojIndeksa" type="text"></label>
  </div>
  <div>
    <label>Ime: <input [(ngModel)]="parametri.ime" name="ime" type="text"></label>
  </div>
  <div>
    <label>Prezime: <input [(ngModel)]="parametri.prezime" name="prezime" type="text"></label>
  </div>
  <div>
    <label>Godina upisa od: <input [(ngModel)]="parametri.godinaUpisaOd" name="godinaUpisa" type="number"></label>
    <label>Godina upisa do: <input [(ngModel)]="parametri.godinaUpisaDo" name="godinaUpisa" type="number"></label>
  </div>
  <div>
    <label>Smer:
      <select name="smer" [(ngModel)]="parametri.smer">
        <option *ngFor="let smer of smerovi; trackBy: smerTrackBy" [ngValue]="smer">{{smer.naziv}}</option>
      </select>
    </label>
  </div>
  <div>
    <label>Prosečna ocena od: <input [(ngModel)]="parametri.prosecnaOcenaOd" name="prosecnaOcena" type="number"
        step="0.01" min="5" max="10"></label>
    <label>Prosečna ocena do: <input [(ngModel)]="parametri.prosecnaOcenaDo" name="prosecnaOcena" type="number"
        step="0.01" min="5" max="10"></label>
  </div>
  <div>
    <button type="submit">Pretrazi studente</button>
  </div>
</form>