<table class="tabela">
    <thead>
      <tr>
        <th><button (click)="sort('brojIndeksa')">Broj indeksa</button></th>
        <th><button (click)="sort('ime')">Ime</button></th>
        <th><button (click)="sort('prezime')">Prezime</button></th>
        <th><button (click)="sort('godinaUpisa')">Godina upisa</button></th>
        <th><button (click)="sort('smer')">Smer</button></th>
        <th><button (click)="sort('prosecnaOcena')">Prosečna ocena</button></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr appObelezivacRedova *ngFor="let e of elementi; index as i" [appProveraNepostojecihVrednosti]="e['godinaUpisa']" bojaTeksta="white" >
        <td>{{e["brojIndeksa"]}}</td>
        <td>{{e["ime"]}}</td>
        <td>{{e["prezime"]}}</td>
        <td><span *ngIf="e['godinaUpisa']; else praznoPolje">{{e["godinaUpisa"]}}</span></td>
        <td><span *ngIf="e['smer']">{{e["smer"]["sifraSmera"]}}</span></td>
        <td><span *ngIf="e['prosecnaOcena']; else praznoPolje">{{e["prosecnaOcena"]}}</span></td>
        <td>
          <button (click)="ukloni(i, e)">Ukloni</button>
          <button (click)="izmeni(i, e)">Izmeni</button>
        </td>
  
      </tr>
    </tbody>
  </table>
  
  <ng-template #praznoPolje>-</ng-template>